<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>apiWith</string>
	<string>cellSize</string>
	<string>AFNetWorkingLoadData</string>
	<string>showHUDWith</string>
	<string>makeCornerRadius</string>
	<string>createViews</string>
	<string>createFiles</string>
	<string>stopRefresh</string>
	<string>addRefreshHeader</string>
	<string>cellHeight</string>
</array>
</plist>
